name: Build and Run

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: build
    - run: gcc -c -o ColorCodingUtility.o ColorCodingUtility.c
    - run: gcc -c -o ColorCodingVariableDefinitions.o ColorCodingVariableDefinitions.c
    - run: gcc -Wall -Wextra -o testchecker *.c
      
    - name: run
      run: ./testchecker
